In [1]:
import pandas as pd 
import numpy as np
import string
import re

In [2]:
datanya = pd.read_csv('crawling-1-syopifud.csv')

datanya.head(150)

,Unnamed: 0,Created_At,Tweets
0,0,2021-10-23 08:57:30+00:00,@loveseskrim syopifud ajaaa coba sheiii
1,1,2021-10-23 05:08:54+00:00,@jinkasperr syopifud mantep 12k dpt 2
2,2,2021-10-23 01:42:39+00:00,@yogurtgreenF syopifud lbh bakar duit kak woakwoa
3,3,2021-10-22 17:11:46+00:00,valid bgt dah sumpah senior asso w kalo ngitun...
4,4,2021-10-22 14:30:30+00:00,syopifud adalah jalan ninjaku
...,...,...,...
141,141,2021-10-14 13:54:39+00:00,@minfaery HUHU BELOM ADA SYOPIFUD DI SINI KA A...
142,142,2021-10-14 13:52:52+00:00,@minfaery syopifud in aku kak
143,143,2021-10-14 13:52:12+00:00,capek bgt mending syopifud apa hari ini
144,144,2021-10-14 13:27:08+00:00,@moonareas daritadi scroll syopifud bingung ma...
145,145,2021-10-14 13:14:09+00:00,@WAHYUYK_ Tim syopifud ni

In [3]:
datanya['Tweets'] = datanya['Tweets'].str.lower()

print('Hasil Case Folding: \n')
print(datanya['Tweets'].head(150))

Hasil Case Folding:

0                @loveseskrim syopifud ajaaa coba sheiii
1                  @jinkasperr syopifud mantep 12k dpt 2
2      @yogurtgreenf syopifud lbh bakar duit kak woakwoa
3      valid bgt dah sumpah senior asso w kalo ngitun...
4                          syopifud adalah jalan ninjaku
                             ...
141    @minfaery huhu belom ada syopifud di sini ka a...
142                        @minfaery syopifud in aku kak
143              capek bgt mending syopifud apa hari ini
144    @moonareas daritadi scroll syopifud bingung ma...
145                            @wahyuyk_ tim syopifud ni
Name: Tweets, Length: 146, dtype: object

In [4]:
datanya.to_csv('crawling-1-syopifud.csv')